# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ktp-nextjs/.next/app-build-manifest.json
ktp-nextjs/.next/app-path-routes-manifest.json
ktp-nextjs/.next/build-manifest.json
ktp-nextjs/.next/build/chunks/\[root-of-the-server\]__4b6f6259._.js
ktp-nextjs/.next/build/chunks/\[root-of-the-server\]__4b6f6259._.js.map
ktp-nextjs/.next/build/chunks/\[root-of-the-server\]__9abb3e35._.js
ktp-nextjs/.next/build/chunks/\[root-of-the-server\]__9abb3e35._.js.map
ktp-nextjs/.next/build/chunks/\[turbopack-node\]_transforms_postcss_ts_fe296651._.js
ktp-nextjs/.next/build/chunks/\[turbopack-node\]_transforms_postcss_ts_fe296651._.js.map
ktp-nextjs/.next/build/chunks/\[turbopack\]_runtime.js
ktp-nextjs/.next/build/chunks/\[turbopack\]_runtime.js.map
ktp-nextjs/.next/build/chunks/node_modules_b5d1def4._.js
ktp-nextjs/.next/build/chunks/node_modules_b5d1def4._.js.map
ktp-nextjs/.next/BUILD_ID
ktp-nextjs/.next/cache/.previewinfo
ktp-nextjs/.next/cache/.rscinfo
ktp-nextjs/.next/cache/.tsbuildinfo
ktp-nextjs/.next/cache/eslint/.cache_orn4r6
ktp-nextjs/.next/cache/images/1bmGGNWEWZp2JpiQZrAKJG5Acw0s11lsvKAtmBGO6A0/60.1755307470547.nv8pqxwUEnnX2eehN8VcSWYSbFyH4_8zu4M5hN53Os8.Vy8iMjY5NDA2LTE5OGIwNjYyMmE4Ig.webp
ktp-nextjs/.next/cache/images/30zYu7_4BzAVpwzsqNUGHWcrrxMTleo3Sav71Hph4L4/60.1755307470534.Wk-JVCKAYfKtryyDJcGL2TiRDvulT7_5tOmQ2ig9KBI.Vy8iMTE3YjEyLTE5OGIwNjViY2Y3Ig.webp
ktp-nextjs/.next/cache/images/3mjinLJjn_GRPy1EwMfhR2BcnC8N8BP9zjH03da757s/60.1755312860112.akQs3_lG_GFEdX2JteLPleZ0zjoqQhTBvvPqVLdCk0w.Vy8iOTdhZDctMTk4YjAxYzk2ZTAi.webp
ktp-nextjs/.next/cache/images/6GwtuhJKbf-_zBYQxAlzGnc34e6nZRFiq_9d4ldCpXY/60.1755312860063.vdxwnkv3Id6898D4FjLyh1ncx7S7PeqKe4BsYCtei6E.Vy8iODAxMDktMTk4YjAxYzk2Y2Mi.webp
ktp-nextjs/.next/cache/images/7xy71neV3bvzxknY3ug6boXfGKQtaH8AJMUdnpKxXjA/60.1755305312837.l1pBeluDW_ixwZA-azRpLRofNXiI7lkUfaqg7n7mxPw.Vy8iOTMyNzQtMTk4YjAxYzk2ZTUi.webp
ktp-nextjs/.next/cache/images/85ugJTLSvo9RDRdBv0t8dPraU4hK555bC86aFbAV-ns/60.1755312860071.Ob6X1okjJ0Amo3bNTuw8hKW2UZG98KUfcf4Tcjua1vc.Vy8iNzMzMjktMTk4YjAxYzk2ZDki.webp
ktp-nextjs/.next/cache/images/8n281qxWEJ8BihEfRnnmBRSywyhV3GaTyr7ayceqbcc/60.1755312761258.EQpSE5NsUQWkyfeii4IyYYgSf5P3WRR8V0py6MdDSGg.Vy8iMTljOC0xOTg1ZDI0YWU5MiI.webp
ktp-nextjs/.next/cache/images/8qreTeijSO1w53cOzwZZFtJgCnZdKxx5VNi-4GVkYQo/60.1755312860043.H7pfsWjlZ4jxD4Wy116E3r1K3unWEjRgTp5Pvy6yi_U.Vy8iN2VmZjUtMTk4YjAxYzk2Y2Ii.webp
ktp-nextjs/.next/cache/images/8YpxqqLQHsGhJiiZHI8pz7mj7TKBrgupLrhVEM3_sDY/60.1755305312845.GVl4XDxJEWxrC4PYv1-amtHHyGIcwUWgfcPzIUGgEUE.Vy8iOGQ4OGUtMTk4YjAxYzk2ZjEi.webp
ktp-nextjs/.next/cache/images/9GF80DLXpH1N3pQ1_EzlLBLlYhubtKeS41AUtTeavEU/60.1755312860107.Er0qZoYlRgQ1fQnyKV87MofpVfHd4wFdq_pCl6_5LMk.Vy8iOGE0MDctMTk4YjAxYzk2ZGYi.webp
ktp-nextjs/.next/cache/images/aejFeieAL9ASfWJimGlM3zOyxSqeaR-0Bdfc6G6XJqo/60.1755312860089.nCcL-mBnzz5U3S_xqOItr-SoIrkHifSNeiLod8FptmQ.Vy8iN2ZkZGUtMTk4YjAxYzk2ZGUi.webp
ktp-nextjs/.next/cache/images/asOsFXtXRdfl31IeLUzGKL-1BOEUKZjt3Pmz9LelS24/60.1755312860105.HbEhgOWL1ZKEvjHcBEDFunYBGfTB9oWyK87V9pgmYQM.Vy8iYjRkNTktMTk4YjAxYzk2ZGEi.webp
ktp-nextjs/.next/cache/images/bdf0ZKKX_OAXw0ZSgL7yM76Wrvrcm3zexngELHXn0nU/60.1755312761273.EQpSE5NsUQWkyfeii4IyYYgSf5P3WRR8V0py6MdDSGg.Vy8iMTljOC0xOTg1ZDI0YWU5MiI.webp
ktp-nextjs/.next/cache/images/CnxEyrdA2NVgq1GDzYNdiODTNkUElWMoENbGtuhpwz0/60.1755307470592.rHl2OuqtVg1-KLvRt7ioxSd1uof3Lzf0w2_Rc3MvWmk.Vy8iNGI0ZDQ0LTE5OGIwNjViY2YzIg.webp
ktp-nextjs/.next/cache/images/cUDp-mHQ4Fmy2dBhILagGDhwA4o1gbca4JdZw1IdB3E/60.1755312860088.JRuV3NMV16YOkvfsCdjlUtTjDskRkQd85g5yoddpXH4.Vy8iODE2ZWQtMTk4YjAxYzk2ZGIi.webp
ktp-nextjs/.next/cache/images/Cy3u-vGVcaYbt0TgCPwMJhBRyiLLTXnnSXUZzOO9rBs/60.1755312761318.9QoJuEEYY_lGODUmhdXIiN-wFWTzchlXg4ysPUKuqEA.Vy8iNWFkYy0xOTg1ZDI0YWU5MyI.webp
ktp-nextjs/.next/cache/images/GVF5tpWnHQhvGOUXzpAkrTRmYYchr24UUg-rb0fbXns/60.1755305312842.EIk9qLCBoNhWlSt9I75UnBtc51H5-n8ZcCaEAk7dYRo.Vy8iN2QxNjctMTk4YjAxYzk2ZjEi.webp
ktp-nextjs/.next/cache/images/Gvn24rl24mW4IX2e7ALCCp6nUyEaU0S3N5tRuiNRTzk/60.1755312859954.DsBYpbiv0ha8a_UGhQ-xEAGvOflINnEnqvKQqwqO2Os.Vy8iOWMwNTUtMTk4YjAxYzk2Y2Qi.webp
ktp-nextjs/.next/cache/images/hdyebbBfl_dtt6ajsJxJO2j9yD0pLrkxwuPIn-W8Klo/60.1755312859967.T-aogsUDNbz0U1TME7BM7IRGvBevbz4GxmDCxIiVeFw.Vy8iODI3M2UtMTk4YjAxYzk2ZWMi.webp
ktp-nextjs/.next/cache/images/He76AxqzFJ7s5jyGsStnhaqEuh-t4k-1x7aqsMC3khs/60.1755312860108.v-_Wpxqd3dxZra6f2EoDzR783bC0L5u8G2A59i-hI9A.Vy8iODVmZDEtMTk4YjAxYzk2ZGYi.webp
ktp-nextjs/.next/cache/images/hQ54kjAAEwE6cOEYQzVPGU7QJvxiQtsMHdNfYbR-bV8/60.1755305312834.vuwDNUmeKYtBya4DUMQg5udfBP1pstlhnfc3iua7J8U.Vy8iODMxMzktMTk4YjAxYzk2ZWEi.webp
ktp-nextjs/.next/cache/images/IyqC5r92sdWOOWp5zHt2aNeqOiOTBPXlRwyk9x1xmWs/60.1755312860004.bZ4hEKr17uWSUBm41P5jZBNVScS2NHsr9SyTbMe1agA.Vy8iODQ3MzItMTk4YjAxYzk2Y2Mi.webp
ktp-nextjs/.next/cache/images/JKbY0TfDW3DvhA9JhI0sh2RBLHBf1FEwIiXStt66N6Q/60.1755312794900.AoOZldKUSbUPAigRBhk1xmc19yoN88zFKpRP-I6m95g.Vy8iMTJjMzBkLTE5ODVkMjRhZTk3Ig.webp
ktp-nextjs/.next/cache/images/JRwSQ-QgZfvyL5t0stGMVv2l4MzkDvygEndKz_k1E-I/60.1755312860056.loAoBls6JPBg39OhyYA8rBKEcFXJe8TSZ1HjMYZyK2E.Vy8iOWJkNTAtMTk4YjAxYzk2ZDki.webp
ktp-nextjs/.next/cache/images/K0Ak2A8bo5tFDfnF5UXiDsDKFKOkNgS_bILpkgs-qGY/60.1755312859942.SCjrztUg50nPz5qvknBpDiEGNQCKv1VJN6-abwtn8Ho.Vy8iN2VlNTMtMTk4YjAxYzk2ZjIi.webp
ktp-nextjs/.next/cache/images/k0qi6avYG15b6AtnZyzsuG5vYjU0wpGx9NX1ldQXSJ4/60.1755312860114.YqIgdG-9TH3QU2dgqMqsmnrOnBJcX1tTxWXtdCSmkCE.Vy8iODQzNGItMTk4YjAxYzk2ZTQi.webp
ktp-nextjs/.next/cache/images/kS1GcR6m-ZZxW14lrmVTqn_W7FTYQIwOad9fKds7vx0/60.1755312860067.hlkGr4jurfV5eC71mLhWZX4zQdQ7kOPRkQFvDSHeE54.Vy8iN2RjNGItMTk4YjAxYzk2ZDgi.webp
ktp-nextjs/.next/cache/images/oEFcRlO0z5qiRhnSlKlMyOEDANepiWa9naj4-AJRasY/60.1755312859973.wNCAVvUFOPL5FwCFby5hVSlrIqjREdz3ONXyIrwNZTI.Vy8iOWI4MDgtMTk4YjAxYzk2ZjAi.webp
ktp-nextjs/.next/cache/images/oZ3xNb-2KhUiu0jPqPM56DvuuG0cUt529OcqBzhL7ps/60.1755312761321.9hz_EOaF7EOvZQ1WvwunEmNE2cZ_aiHszu0ZLN0mxU0.Vy8iMzMyMDctMTk4NWQyNGFlOTAi.webp
ktp-nextjs/.next/cache/images/PS6TjSaVPMEkYSI4daF2WKT-jYQr0d-HeLjsKIlTZZU/60.1755307470555.4hWrTrAV7PNylE5WkpYExQ2sEFoXfpadLVaoV3y5kLk.Vy8iMzI2ZDU3LTE5OGIwNjYyMWNkIg.webp
ktp-nextjs/.next/cache/images/PS_Dggd4u3WQImYiNs4mYMFsoD3RrDubJ-kL_MA7Rl4/60.1755305312856.C5Iz10oXYKMqC7d4CbmfDVriNJLtvJ9c7_8UAT5aHO4.Vy8iYTFlZTItMTk4YjAxYzk2ZjUi.webp
ktp-nextjs/.next/cache/images/pxRyfDfe9-TabmLBxLE_9kt7iXB3Qb6SMCek4GzNoS4/60.1755312860003.ExR4zlWIEYLSIdZCH7GKKynKwuJ3IK7RlGg344ooX-I.Vy8iOTYzZjUtMTk4YjAxYzk2ZTki.webp
ktp-nextjs/.next/cache/images/QPyn10GKYbBEcp0bMwh1mx5jb_H_f85yA4Y3pgM0Goo/60.1755307470536.grWOwEDhlsBbHYziz7y7ipY6-w9i8wgSlOTEFTfnZQo.Vy8iMTFiZTdlLTE5OGIwNjYyNDEzIg.webp
ktp-nextjs/.next/cache/images/RkTvH4pFcfeXxxQ7WIGoS7kg3KkbOQ1FX4YKz2a94qs/60.1755307470549.J7nZLtacTebY4Ht2tAUUXGEnPSwgqVyY6n7tT2k8hHM.Vy8iMmNkZDhkLTE5OGIwNjYyMzcwIg.webp
ktp-nextjs/.next/cache/images/RtPtIFai4XAweO6q4HJYWzWtiWosjXOTOP5KkMSV_WU/60.1755312860065.MvBee9v2XJ8rLSR4FMOBMIMYMfWuESslHh-u9WkXqk4.Vy8iN2I2NDItMTk4YjAxYzk2ZDgi.webp
ktp-nextjs/.next/cache/images/TM1I3WjLUcGh-D7pA1fI9fPJemRJXlgu8FfKqUtIh-8/60.1755305312833.0S2JDTnjOP1Sx7OAAPQ9jHUeYBKw1yE9Hro3bSuOmXI.Vy8iYjU4Y2QtMTk4YjAxYzk2ZTQi.webp
ktp-nextjs/.next/cache/images/v97jzhtJPfmLtmroGQYavMylinLSP11S8me3i0UToKs/60.1755312382270.3-Jjz_c69m11aZjoxSJRUR1PBNuBJw858KZvGLmLrAQ.Vy8iMjEyMDgtMTk4YjA2NWJjZmIi.webp
ktp-nextjs/.next/cache/images/XHuOPZM3nsDY3JakOKhq3QPRskyKrif-UjTS_udJGO8/60.1755305312836._08Bxl4xYwH5AqcasT1f0frJYJDqwL2X1tYN4w6_5HY.Vy8iODA2MzEtMTk4YjAxYzk2ZWIi.webp
ktp-nextjs/.next/cache/images/Yl6tjXiCIVjxAEJAl1nHmw6Lg2CiVtxS1mtBLRM1he8/60.1755305312852.EWv24pmAz-hZEbEs7b20fGtO2hZDgBSv8PtNCDHknnQ.Vy8iOTc4NmEtMTk4YjAxYzk2ZjUi.webp
ktp-nextjs/.next/cache/images/ZKljTWZXxapqgzvWPCb-d4Yrd6NIFAL7tCfWZCLSoX8/60.1755305312841.bEegAmjenRyrOvvXwgKgebmXRSDYEZKfgt5SUURar8o.Vy8iOWU0ZWQtMTk4YjAxYzk2ZWQi.webp
ktp-nextjs/.next/cache/webpack/client-production/0.pack
ktp-nextjs/.next/cache/webpack/client-production/1.pack
ktp-nextjs/.next/cache/webpack/client-production/2.pack
ktp-nextjs/.next/cache/webpack/client-production/index.pack
ktp-nextjs/.next/cache/webpack/client-production/index.pack.old
ktp-nextjs/.next/cache/webpack/edge-server-production/0.pack
ktp-nextjs/.next/cache/webpack/edge-server-production/index.pack
ktp-nextjs/.next/cache/webpack/server-production/0.pack
ktp-nextjs/.next/cache/webpack/server-production/1.pack
ktp-nextjs/.next/cache/webpack/server-production/index.pack
ktp-nextjs/.next/cache/webpack/server-production/index.pack.old
ktp-nextjs/.next/diagnostics/build-diagnostics.json
ktp-nextjs/.next/diagnostics/framework.json
ktp-nextjs/.next/export-marker.json
ktp-nextjs/.next/fallback-build-manifest.json
ktp-nextjs/.next/images-manifest.json
ktp-nextjs/.next/next-minimal-server.js.nft.json
ktp-nextjs/.next/next-server.js.nft.json
ktp-nextjs/.next/package.json
ktp-nextjs/.next/postcss.js
ktp-nextjs/.next/postcss.js.map
ktp-nextjs/.next/prerender-manifest.json
ktp-nextjs/.next/react-loadable-manifest.json
ktp-nextjs/.next/required-server-files.json
ktp-nextjs/.next/routes-manifest.json
ktp-nextjs/.next/server/app-paths-manifest.json
ktp-nextjs/.next/server/app/_not-found.html
ktp-nextjs/.next/server/app/_not-found.meta
ktp-nextjs/.next/server/app/_not-found.rsc
ktp-nextjs/.next/server/app/_not-found/page.js
ktp-nextjs/.next/server/app/_not-found/page.js.map
ktp-nextjs/.next/server/app/_not-found/page.js.nft.json
ktp-nextjs/.next/server/app/_not-found/page/app-build-manifest.json
ktp-nextjs/.next/server/app/_not-found/page/app-paths-manifest.json
ktp-nextjs/.next/server/app/_not-found/page/build-manifest.json
ktp-nextjs/.next/server/app/_not-found/page/next-font-manifest.json
ktp-nextjs/.next/server/app/_not-found/page/react-loadable-manifest.json
ktp-nextjs/.next/server/app/_not-found/page/server-reference-manifest.json
ktp-nextjs/.next/server/app/_not-found/page_client-reference-manifest.js
ktp-nextjs/.next/server/app/about.html
ktp-nextjs/.next/server/app/about.meta
ktp-nextjs/.next/server/app/about.rsc
ktp-nextjs/.next/server/app/about/page.js
ktp-nextjs/.next/server/app/about/page.js.map
ktp-nextjs/.next/server/app/about/page.js.nft.json
ktp-nextjs/.next/server/app/about/page/app-build-manifest.json
ktp-nextjs/.next/server/app/about/page/app-paths-manifest.json
ktp-nextjs/.next/server/app/about/page/build-manifest.json
ktp-nextjs/.next/server/app/about/page/next-font-manifest.json
ktp-nextjs/.next/server/app/about/page/react-loadable-manifest.json
ktp-nextjs/.next/server/app/about/page/server-reference-manifest.json
ktp-nextjs/.next/server/app/about/page_client-reference-manifest.js
ktp-nextjs/.next/server/app/favicon.ico.body
ktp-nextjs/.next/server/app/favicon.ico.meta
ktp-nextjs/.next/server/app/favicon.ico/route.js
ktp-nextjs/.next/server/app/favicon.ico/route.js.map
ktp-nextjs/.next/server/app/favicon.ico/route.js.nft.json
ktp-nextjs/.next/server/app/favicon.ico/route/app-build-manifest.json
ktp-nextjs/.next/server/app/favicon.ico/route/app-paths-manifest.json
ktp-nextjs/.next/server/app/favicon.ico/route/build-manifest.json
ktp-nextjs/.next/server/app/index.html
ktp-nextjs/.next/server/app/index.meta
ktp-nextjs/.next/server/app/index.rsc
ktp-nextjs/.next/server/app/members.html
ktp-nextjs/.next/server/app/members.meta
ktp-nextjs/.next/server/app/members.rsc
ktp-nextjs/.next/server/app/members/page.js
ktp-nextjs/.next/server/app/members/page.js.map
ktp-nextjs/.next/server/app/members/page.js.nft.json
ktp-nextjs/.next/server/app/members/page/app-build-manifest.json
ktp-nextjs/.next/server/app/members/page/app-paths-manifest.json
ktp-nextjs/.next/server/app/members/page/build-manifest.json
ktp-nextjs/.next/server/app/members/page/next-font-manifest.json
ktp-nextjs/.next/server/app/members/page/react-loadable-manifest.json
ktp-nextjs/.next/server/app/members/page/server-reference-manifest.json
ktp-nextjs/.next/server/app/members/page_client-reference-manifest.js
ktp-nextjs/.next/server/app/page.js
ktp-nextjs/.next/server/app/page.js.map
ktp-nextjs/.next/server/app/page.js.nft.json
ktp-nextjs/.next/server/app/page/app-build-manifest.json
ktp-nextjs/.next/server/app/page/app-paths-manifest.json
ktp-nextjs/.next/server/app/page/build-manifest.json
ktp-nextjs/.next/server/app/page/next-font-manifest.json
ktp-nextjs/.next/server/app/page/react-loadable-manifest.json
ktp-nextjs/.next/server/app/page/server-reference-manifest.json
ktp-nextjs/.next/server/app/page_client-reference-manifest.js
ktp-nextjs/.next/server/app/philanthropy.html
ktp-nextjs/.next/server/app/philanthropy.meta
ktp-nextjs/.next/server/app/philanthropy.rsc
ktp-nextjs/.next/server/app/philanthropy/page.js
ktp-nextjs/.next/server/app/philanthropy/page.js.map
ktp-nextjs/.next/server/app/philanthropy/page.js.nft.json
ktp-nextjs/.next/server/app/philanthropy/page/app-build-manifest.json
ktp-nextjs/.next/server/app/philanthropy/page/app-paths-manifest.json
ktp-nextjs/.next/server/app/philanthropy/page/build-manifest.json
ktp-nextjs/.next/server/app/philanthropy/page/next-font-manifest.json
ktp-nextjs/.next/server/app/philanthropy/page/react-loadable-manifest.json
ktp-nextjs/.next/server/app/philanthropy/page/server-reference-manifest.json
ktp-nextjs/.next/server/app/philanthropy/page_client-reference-manifest.js
ktp-nextjs/.next/server/chunks/17.js
ktp-nextjs/.next/server/chunks/303.js
ktp-nextjs/.next/server/chunks/548.js
ktp-nextjs/.next/server/chunks/985.js
ktp-nextjs/.next/server/chunks/\[root-of-the-server\]__80bb4c51._.js
ktp-nextjs/.next/server/chunks/\[root-of-the-server\]__80bb4c51._.js.map
ktp-nextjs/.next/server/chunks/\[turbopack\]_runtime.js
ktp-nextjs/.next/server/chunks/\[turbopack\]_runtime.js.map
ktp-nextjs/.next/server/chunks/node_modules_next_11760126._.js
ktp-nextjs/.next/server/chunks/node_modules_next_11760126._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__3147b0f9._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__3147b0f9._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__3238695a._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__3238695a._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__7d6ce682._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__7d6ce682._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__81007e6b._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__81007e6b._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__83373ebe._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__83373ebe._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__9364eacd._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__9364eacd._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__a5eea78d._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__a5eea78d._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__b7a5493e._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__b7a5493e._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__bd55ac7b._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__bd55ac7b._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__c68804dc._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__c68804dc._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__c7e7d7fe._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__c7e7d7fe._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__c8914680._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__c8914680._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__cfa767d9._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__cfa767d9._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__d8593af1._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__d8593af1._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__dd7f5a70._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__dd7f5a70._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__f230ded1._.js
ktp-nextjs/.next/server/chunks/ssr/\[root-of-the-server\]__f230ded1._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_4b71871f._.js
ktp-nextjs/.next/server/chunks/ssr/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_4b71871f._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_59fa4ecd._.js
ktp-nextjs/.next/server/chunks/ssr/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_59fa4ecd._.js.map
ktp-nextjs/.next/server/chunks/ssr/\[turbopack\]_runtime.js
ktp-nextjs/.next/server/chunks/ssr/\[turbopack\]_runtime.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_052de940._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_052de940._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_0eea7c18._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_0eea7c18._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_4e5492e4._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_4e5492e4._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_4f04d8ed._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_4f04d8ed._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_4f8a5261._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_4f8a5261._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_618b3959._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_618b3959._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_8f848e63._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_8f848e63._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_@swc_helpers_cjs_f50bcef4._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_@swc_helpers_cjs_f50bcef4._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_a85727bd._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_a85727bd._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_a91cff94._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_a91cff94._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_d158ed9c._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_d158ed9c._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_d8c8fcae._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_d8c8fcae._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_ee210192._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_ee210192._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_51e1f731._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_51e1f731._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_4b672784._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_4b672784._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_717b548c._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_717b548c._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_88865fe5._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_88865fe5._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_b168c04e._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_b168c04e._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_00c62b33._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_00c62b33._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_components_1c8c21fa._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_components_1c8c21fa._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_forbidden_651c1c6d.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_forbidden_651c1c6d.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_global-error_af93ecd6.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_global-error_af93ecd6.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_unauthorized_a3bc0a28.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_client_components_builtin_unauthorized_a3bc0a28.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_compiled_0233ab3f._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_compiled_0233ab3f._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_compiled_next-devtools_index_4258ed4e.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_compiled_next-devtools_index_4258ed4e.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_esm_b72f3b11._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_esm_b72f3b11._.js.map
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_server_route-modules_app-page_1b403596._.js
ktp-nextjs/.next/server/chunks/ssr/node_modules_next_dist_server_route-modules_app-page_1b403596._.js.map
ktp-nextjs/.next/server/chunks/ssr/src_app_a4430781._.js
ktp-nextjs/.next/server/chunks/ssr/src_app_a4430781._.js.map
ktp-nextjs/.next/server/functions-config-manifest.json
ktp-nextjs/.next/server/interception-route-rewrite-manifest.js
ktp-nextjs/.next/server/middleware-build-manifest.js
ktp-nextjs/.next/server/middleware-manifest.json
ktp-nextjs/.next/server/middleware-react-loadable-manifest.js
ktp-nextjs/.next/server/next-font-manifest.js
ktp-nextjs/.next/server/next-font-manifest.json
ktp-nextjs/.next/server/pages-manifest.json
ktp-nextjs/.next/server/pages/404.html
ktp-nextjs/.next/server/pages/500.html
ktp-nextjs/.next/server/pages/_app.js
ktp-nextjs/.next/server/pages/_app.js.nft.json
ktp-nextjs/.next/server/pages/_document.js
ktp-nextjs/.next/server/pages/_document.js.nft.json
ktp-nextjs/.next/server/pages/_error.js
ktp-nextjs/.next/server/pages/_error.js.nft.json
ktp-nextjs/.next/server/server-reference-manifest.js
ktp-nextjs/.next/server/server-reference-manifest.json
ktp-nextjs/.next/server/webpack-runtime.js
ktp-nextjs/.next/static/chunks/4bd1b696-787e09d648f42856.js
ktp-nextjs/.next/static/chunks/63-e830d34011207317.js
ktp-nextjs/.next/static/chunks/964-46cfef671d2048db.js
ktp-nextjs/.next/static/chunks/\[next\]_internal_font_google_inter_59dee874_module_css_e59ae46c._.single.css
ktp-nextjs/.next/static/chunks/\[next\]_internal_font_google_inter_59dee874_module_css_e59ae46c._.single.css.map
ktp-nextjs/.next/static/chunks/\[root-of-the-server\]__9a168d68._.css
ktp-nextjs/.next/static/chunks/\[root-of-the-server\]__9a168d68._.css.map
ktp-nextjs/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_5af4a3bc._.js
ktp-nextjs/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_61dcf9ba._.js
ktp-nextjs/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_61dcf9ba._.js.map
ktp-nextjs/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_6aaa83c7._.js
ktp-nextjs/.next/static/chunks/\[turbopack\]_browser_dev_hmr-client_hmr-client_ts_6aaa83c7._.js.map
ktp-nextjs/.next/static/chunks/_01f48b92._.js
ktp-nextjs/.next/static/chunks/_01f48b92._.js.map
ktp-nextjs/.next/static/chunks/_e69f0d32._.js
ktp-nextjs/.next/static/chunks/app/_not-found/page-710ade0ef9427641.js
ktp-nextjs/.next/static/chunks/app/about/page-be937f5b6a064c8f.js
ktp-nextjs/.next/static/chunks/app/layout-d6ad19ca67860d32.js
ktp-nextjs/.next/static/chunks/app/members/page-be937f5b6a064c8f.js
ktp-nextjs/.next/static/chunks/app/page-be937f5b6a064c8f.js
ktp-nextjs/.next/static/chunks/app/philanthropy/page-be937f5b6a064c8f.js
ktp-nextjs/.next/static/chunks/framework-da1e979cb8b3044a.js
ktp-nextjs/.next/static/chunks/main-35a599eddba6202c.js
ktp-nextjs/.next/static/chunks/main-app-c8cb56592866c56d.js
ktp-nextjs/.next/static/chunks/node_modules_@swc_helpers_cjs_8e433861._.js
ktp-nextjs/.next/static/chunks/node_modules_@swc_helpers_cjs_8e433861._.js.map
ktp-nextjs/.next/static/chunks/node_modules_next_3f48ce4d._.js
ktp-nextjs/.next/static/chunks/node_modules_next_3f48ce4d._.js.map
ktp-nextjs/.next/static/chunks/node_modules_next_dist_01fcdebf._.js
ktp-nextjs/.next/static/chunks/node_modules_next_dist_01fcdebf._.js.map
ktp-nextjs/.next/static/chunks/node_modules_next_dist_445d8acf._.js
ktp-nextjs/.next/static/chunks/node_modules_next_dist_445d8acf._.js.map
ktp-nextjs/.next/static/chunks/node_modules_next_dist_build_polyfills_polyfill-nomodule.js
ktp-nextjs/.next/static/chunks/node_modules_next_dist_client_20b209c9._.js
ktp-nextjs/.next/static/chunks/node_modules_next_dist_client_20b209c9._.js.map
ktp-nextjs/.next/static/chunks/node_modules_next_dist_client_components_builtin_global-error_5a29ecc3.js
ktp-nextjs/.next/static/chunks/node_modules_next_dist_compiled_0f1b9fd4._.js
ktp-nextjs/.next/static/chunks/node_modules_next_dist_compiled_0f1b9fd4._.js.map
ktp-nextjs/.next/static/chunks/node_modules_next_dist_compiled_next-devtools_index_d575f738.js
ktp-nextjs/.next/static/chunks/node_modules_next_dist_compiled_next-devtools_index_d575f738.js.map
ktp-nextjs/.next/static/chunks/node_modules_next_dist_compiled_react-dom_1f56dc06._.js
ktp-nextjs/.next/static/chunks/node_modules_next_dist_compiled_react-dom_1f56dc06._.js.map
ktp-nextjs/.next/static/chunks/pages/_app-0a0020ddd67f79cf.js
ktp-nextjs/.next/static/chunks/pages/_error-03529f2c21436739.js
ktp-nextjs/.next/static/chunks/polyfills-42372ed130431b0a.js
ktp-nextjs/.next/static/chunks/src_app_about_page_tsx_5a29ecc3._.js
ktp-nextjs/.next/static/chunks/src_app_favicon_ico_mjs_f9cadd25._.js
ktp-nextjs/.next/static/chunks/src_app_globals_css_e59ae46c._.single.css
ktp-nextjs/.next/static/chunks/src_app_globals_css_e59ae46c._.single.css.map
ktp-nextjs/.next/static/chunks/src_app_layout_tsx_68b267f5._.js
ktp-nextjs/.next/static/chunks/src_app_members_page_tsx_5a29ecc3._.js
ktp-nextjs/.next/static/chunks/src_app_page_tsx_5a29ecc3._.js
ktp-nextjs/.next/static/chunks/src_app_philanthropy_page_tsx_5a29ecc3._.js
ktp-nextjs/.next/static/chunks/src_components_Sidebar_tsx_e04ac0a0._.js
ktp-nextjs/.next/static/chunks/src_components_Sidebar_tsx_e04ac0a0._.js.map
ktp-nextjs/.next/static/chunks/webpack-61734b1f3642ad83.js
ktp-nextjs/.next/static/css/562de7a841f2be63.css
ktp-nextjs/.next/static/development/_buildManifest.js
ktp-nextjs/.next/static/development/_clientMiddlewareManifest.json
ktp-nextjs/.next/static/development/_ssgManifest.js
ktp-nextjs/.next/static/media/06ba6ef833b337bc-s.p.0faac26c.woff2
ktp-nextjs/.next/static/media/1a97932d2ea76c90-s.ac666cb5.woff2
ktp-nextjs/.next/static/media/26a46d62cd723877-s.woff2
ktp-nextjs/.next/static/media/2a2d10660758e7fa-s.91b7455f.woff2
ktp-nextjs/.next/static/media/55c55f0601d81cf3-s.woff2
ktp-nextjs/.next/static/media/581909926a08bbc8-s.woff2
ktp-nextjs/.next/static/media/8e9860b6e62d6359-s.woff2
ktp-nextjs/.next/static/media/97e0cb1ae144a2a9-s.woff2
ktp-nextjs/.next/static/media/a973f82a0d056f9e-s.99c7dd4e.woff2
ktp-nextjs/.next/static/media/c0062fcfb5f4a9e6-s.b7398c1c.woff2
ktp-nextjs/.next/static/media/d6f0f7ef0a66b318-s.927aef78.woff2
ktp-nextjs/.next/static/media/df0a9ae256c0569c-s.woff2
ktp-nextjs/.next/static/media/e27fd546b8a0677f-s.569fab99.woff2
ktp-nextjs/.next/static/media/e4af272ccee01ff0-s.p.woff2
ktp-nextjs/.next/static/media/favicon.45db1c09.ico
ktp-nextjs/.next/static/ryCht0xvrfUGxwZBES4pE/_buildManifest.js
ktp-nextjs/.next/static/ryCht0xvrfUGxwZBES4pE/_ssgManifest.js
ktp-nextjs/.next/trace
ktp-nextjs/.next/types/app/about/page.ts
ktp-nextjs/.next/types/app/layout.ts
ktp-nextjs/.next/types/app/members/page.ts
ktp-nextjs/.next/types/app/page.ts
ktp-nextjs/.next/types/app/philanthropy/page.ts
ktp-nextjs/.next/types/cache-life.d.ts
ktp-nextjs/.next/types/package.json
ktp-nextjs/next-env.d.ts
